<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/aboutus.css">
    <title>Celebrate Ceylon</title>
</head>

<body>
    <div id="navbar">
        <img src="..\src\whiteLogo.png" alt="logo">
        <a href="..\index.html">Home</a>
        <a href="aboutus.html">About</a>
        <a href="designs.html">Designs</a>
        <a href="contact.html">Contact</a>

    </div>
    <div id="greeting">
        
        <h1>Hi I'm Sanjay Pathmanathan</h1>
        <img src="../src/aboutus3.jpeg" alt="aboutus">
        <p class="type1">Before I became the CEO of Celebrate Ceylon, I created several other businesses.  My first venture was in the ad tech world where I created the first transit media company in Sri Lanka, partnering with the largest transport provider on the island to create an advertising platform.</p>
        <p class="type1">Since then I have started and stopped ventures in both the food and mental health industries in Canada, before finally creating Celebrate Ceylon.</p>
        <p class="type1">Celebrate Ceylon was conceived when planning to propose to my girlfriend. I wanted to create something unique for her and realized that the cost of making a custom made piece in Canada was astronomical. </p>
        <p class="type1">Having strong ties to Sri Lanka I had many contacts in the jewelry industry and realized that I could leverage them to create a custom made piece of jewelry for a fraction of the cost. Sri Lankan jewelry and craftsmanship is second to none.  The island has some of the richest and most diverse gem deposits in the world and has been renowned in ancient texts that date back over two thousand years.</p>
        <p class="type1">By providing high-value custom made jewelry at affordable prices my  fiance and I are now bringing hundreds of people happiness.</p>
        <p class="type1">A piece of jewelry paints a story of love and a life well lived and we at Celebrate Ceylon would be privileged to be a part of your story. </p>
        
    </div>
    
    </body>


</html>