<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/designs.css">
    <title>Celebrate Ceylon</title>
</head>

<body>
    <div id="navbar">
        <img src="..\src\whiteLogo.png" alt="logo">
        <a href="..\index.html">Home</a>
        <a href="aboutus.html">About</a>
        <a href="designs.html">Designs</a>
        <a href="contact.html">Contact</a>

    </div>
    
    <div id="pane">
        <div id="showcase">
            <img src="..\src\display\CC-Blue-2.jpg" alt="jewellery">
            <img src="..\src\display\CC-Blue-3.jpg" alt="jewellery">
            <img src="..\src\display\CC-GreenRing-8.jpg" alt="jewellery">
            <img src="..\src\display\CC-GreenRing.jpg" alt="jewellery">
            <img src="..\src\display\untitled1.jpg" alt="jewellery">
            <img src="..\src\display\untitled2.jpg" alt="jewellery">
            <img src="..\src\display\untitled3.jpg" alt="jewellery">
            <img src="..\src\display\untitled4.jpg" alt="jewellery">
            <img src="..\src\display\untitled5.jpg" alt="jewellery">
            <img src="..\src\display\untitled6.jpg" alt="jewellery">
            
        </div>
    </div>
    
    </body>


</html>