<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Custom made jewelry with an of the shelf price.">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/design2.css">
    <title>Celebrate Ceylon</title>
</head>

<body>
    <div id="navbar">
        <img src="..\src\whiteLogo.png" alt="logo">
        <div id="nlinks">
            <a href="..\index.html">Home</a>
            <a href="aboutus.html">About</a>
            <a href="designs.html">Designs</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>
    <hr id="lmain">
    
    <div id="pane">
        <div id="showcase">
            <img src="..\src\display\untitled1.jpg" alt="jewellery">
            <img src="..\src\display\untitled2.jpg" alt="jewellery">
            <img src="..\src\display\untitled3.jpg" alt="jewellery">
            <img src="..\src\display\untitled4.jpg" alt="jewellery">
            <img src="..\src\display\untitled5.jpg" alt="jewellery">
            <img src="..\src\display\untitled6.jpg" alt="jewellery"> 
            
            
            <img src="..\src\display\094A2691.jpg" alt="jewellery">
            <img src="..\src\display\094A2701.jpg" alt="jewellery">
            <img src="..\src\display\094A2712.jpg" alt="jewellery">
            <img src="..\src\display\094A2734.jpg" alt="jewellery">
            <img src="..\src\display\094A2774.jpg" alt="jewellery">
            <img src="..\src\display\094A2803.jpg" alt="jewellery">
            <img src="..\src\display\094A2807.jpg" alt="jewellery">
            <img src="..\src\display\094A2825.jpg" alt="jewellery">
            <img src="..\src\display\094A2846.jpg" alt="jewellery">
            <img src="..\src\display\094A2852.jpg" alt="jewellery">
            <img src="..\src\display\094A2879.jpg" alt="jewellery">            
            <img src="..\src\display\094A2904.jpg" alt="jewellery">
            <img src="..\src\display\094A2923.jpg" alt="jewellery">
            <img src="..\src\display\beware.jpg" alt="jewellery">
            
            <img class="landscape" src="..\src\display\CC-Blue-3.jpg" alt="jewellery">

            <img src="..\src\display\CC-GreenRing-8.jpg" alt="jewellery">
            <img src="..\src\display\CC-GreenRing.jpg" alt="jewellery">
            <img src="..\src\display\CC-Blue-2.jpg" alt="jewellery">
            <div></div>

                       
        </div>
    </div>
    
    </body>


</html>