<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Custom made jewelry with an of the shelf price.">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/aboutus2.css">
    <title>Celebrate Ceylon</title>
</head>
<body>
    <div id="navbar">
        <img src="..\src\whiteLogo.png" alt="logo">
        <div id="nlinks">
            <a href="..\index.html">Home</a>
            <a href="aboutus.html">About</a>
            <a href="designs.html">Designs</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>
    <hr id="lmain">

    <p style="text-align: center;">Thanks For Your Submission. We Will Be In Touch Soon</p>
    
</body>
</html>