<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
      <link rel="stylesheet" href="../styles/aboutus2.css">
    <title>Celebrate Ceylon</title>
</head>

<body>
    <div id="navbar">
        <img src="../src/whiteLogo.png" alt="logo">
        <a href="..\index.html">Home</a>
        <a href="aboutus.html">About</a>
        <a href="designs.html">Designs</a>
        <a href="contact.html">Contact</a>

    </div>
    <hr id="lmain">

    <h1>Warranty</h1>
    <p>
        All Celebrate Ceylon Jewellery is under warranty for the first 6 months after purchase for manufacturing
        defects.
        This warranty does not protect against pieces that have been recklessly worn or purposely damaged. With regular
        wear if there are any manufacturing defects, they will typically materialize within the first month or two of
        use.
        Repairs needed after 6 months from the day of purchase will be at the expense of the customer along with any
        shipping costs to Sri Lanka. Pricing for repairs will vary depending on the specific features of the ring.
        For any ring size changes, any expenses including shipping will be borne by the customer.
    </p>

</body>

</html>