@import "nav.css";
@import "bbanner.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Montserrat:wght@100;300;400;500&display=swap');


@media (min-width:320px) {
  body {
  
    background-color: white;
    color: black;
  }
  
  h1{
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      color: rgb(255,173,182);
      font-weight: 500;
      margin-top: 50px;
      margin-left: 10%;
      margin-right: 10%;
      overflow: auto;
      text-align: center;
  }

  form{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
    row-gap: 10px;

    margin-bottom: 50px;

  }

  input[type=text],input[type=number],textarea,select{
    border: none;
    border-radius: 10px;
    outline-color:black;
    color: rgb(51,50,50);
    background-color: rgb(233,233,236);
  }





  input[type=submit] {
    padding:5px 15px; 
    background-color: rgb(255,173,182);
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    padding-top: 10px;
}
  

label, input, select{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 200;
    line-height: 1.3;
    padding-left: 10px;
    padding-right: 10px;
}
input, select{
  max-height: 50px;
}

}
@media (min-width:641px) {
  body {
  
    background-color: white;
    color: black;
    text-align: justify;
  }
  
  h1{
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      color: rgb(255,173,182);
      font-weight: 500;
      padding-top: 50px;
      margin-left: 10%;
      margin-right: 10%;
      overflow: auto;
      text-align: center;
      line-height: initial;
  }

  form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    row-gap: 10px;

    margin-bottom: 50px;

  }

  input[type=text],input[type=number],textarea,select{
    border: none;
    border-radius: 10px;
    outline-color:black;
    color: rgb(51,50,50);
    background-color: rgb(233,233,236);
  }





  input[type=submit] {
    padding:5px 15px; 
    background-color: rgb(255,173,182);
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    grid-column: 2;
    padding-top: 10px;
}
  

label, input, select{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 200;
    line-height: 1.3;
    padding-left: 10px;
    padding-right: 10px;
}
}
@media (min-width:961px) {
  body {
  
    background-color: white;
    color: black;
    text-align: justify;
  }
  
  h1{
      font-family: 'Montserrat', sans-serif;
      font-size: 1.75rem;
      color: rgb(255,173,182);
      font-weight: 500;
      padding-top: 50px;
      margin-left: 20%;
      margin-right: 20%;
      overflow: auto;
      text-align: center;
  }

  form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15%;
    margin-right: 15%;
    row-gap: 10px;

    margin-bottom: 50px;

  }

  input[type=text],input[type=number],#rpluploadbtn,textarea,select{
    border: none;
    border-radius: 10px;
    outline-color:black;
    color: rgb(51,50,50);
    background-color: rgb(233,233,236);
  }





  input[type=submit] {
    padding:5px 15px; 
    background-color: rgb(255,173,182);
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    grid-column: 2;
    padding-top: 10px;
}
  

label, input, select{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 200;
    line-height: 1.3;
    padding-left: 10px;
    padding-right: 10px;
}

}

@media (min-width:2050px){
  form{max-width: 60%;
  margin:0 20% 0;}
  
}

@media (min-width:2550px){
  form{max-width: 50%;
  margin:0 25% 0;}
  
}

@media (min-width:3000px){
  form{max-width: 40%;
  margin:0 30% 0;}
  
}
