@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Montserrat:wght@100;300;400;500&display=swap');
@import "nav2.css";

html{
    font-size: 62.5%;
}

body{
    margin-bottom: 4%;
}

body *{
    max-width:2500px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
h1{

    line-height: initial;
}

#rpluploadbtn{
    background-color: rgb(233,233,236);
}

#rpluploadbtn:hover, #rpluploadlbl:hover{
    cursor: grab;
}

@media (min-width:320px)  {
    body *{
        width: 95%;
    }

    #lmain{
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    form *{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        
    }

    h1{
        font-family: 'Montserrat', sans-serif;
        color: rgb(255,173,182);
        font-weight: 500;
        overflow: auto;
        text-align: justify;
        font-size: clamp(12px,4.5vw,25px);
    }
    form{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    
        margin-bottom: 50px;
    
      }
    
      input[type=text],input[type=number],textarea,select{
        border: none;
        border-radius: 5px;
        outline-color:black;
        color: rgb(51,50,50);
        background-color: rgb(233,233,236);
      }
    
    
    
    
    
      input[type=submit] {
        background-color: rgb(255,173,182);
        color: white;
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        height: 100%;
        font-weight: bold;
        padding-top: 5px;
        text-align: center;
    }

    #rpluploadbtn{
        border-radius: 5px;
    }
      
    
    label, input, select{
        font-family: 'Josefin Sans', sans-serif;
        font-size: clamp(12px,5vw,30px);
        font-weight: 200;
        line-height: initial;
        min-height: 12px;

    }
}
@media (min-width:600px)  {
    body *{
        width: 90%;
    }

    #lmain{
        margin-top: 0.6vw;
        margin-bottom: 2vw;
    }

    form *{
        width: 100%;
    }

    form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        margin-bottom: 50px;
    
      }
    
      input[type=text],input[type=number],textarea,select{
        border: none;
        border-radius: 10px;
        outline-color:black;
        color: rgb(51,50,50);
        background-color: rgb(233,233,236);
        padding-top: 12px;
      }
      input[type=submit] {
        background-color: rgb(255,173,182);
        color: white;
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        grid-column: 2;
        padding-top: 15px;
    }

    #rpluploadbtn{
        border-radius: 10px;
    }
      
    
    label, input, select{
        font-family: 'Josefin Sans', sans-serif;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 200;
        font-size: clamp(12px,2.75vw,30px);
    }
}