@import "nav2.css";
@import "bbanner.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Montserrat:wght@100;300;400;500&display=swap');


@media (min-width:320px) {
    body {
  
        background-color: white;
        color: rgb(51, 50, 50);
        text-align: justify;
        
    }
    
    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
    
    #pane{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #showcase{
        display: grid;
        grid-template-columns: 400px ;
        row-gap: 5px;
    }
}
@media (min-width:641px) {
    body {
  
        background-color: white;
        color: rgb(51, 50, 50);
        text-align: justify;
        
    }
    
    img {
        width: 275px;
        height: 275px;
        object-fit: cover;
    }
    
    #pane{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #showcase{
        display: grid;
        grid-template-columns: 275px 275px;
        column-gap: 5px;
        row-gap: 5px;
    }
}
@media (min-width:961px) {
    body {
  
        background-color: white;
        color: rgb(51, 50, 50);
        text-align: justify;
        
    }
    
    img {
        width: 600px;
        height: 600px;
        object-fit: cover;
    }
    
    #pane{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #showcase{
        display: grid;
        grid-template-columns: 600px 600px;
        column-gap: 5px;
        row-gap: 5px;
    }
}
