/*
light regular bold extra bold
*/

/*
rgb(251, 117, 151)
rgb(251, 145, 172) dark
rgb(252, 172, 193)
rgb(253, 200, 214)
*/
@import "bbanner.css";


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Montserrat:wght@100;300;400;500&display=swap');

/*
light regular bold extra bold
*/

/*

greyish rgb(136,136,128)
grey rgb(88,89,91)
greyer rgb(109,110,112)
dark grey rgb(51,50,50)
white rgb(255,255,255)
pink rgb(255,173,182)

*/



@media (min-width:320px) {
    body{
        overflow-x: hidden;
    }
    #bnnrlogo{
        padding-top: 20px;
        max-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    h1{
        font-size: calc(12px + 2vw);;
    }

    .testimonials video {
        margin: 5px 10% 5px;
        width: 80%;
    }

    #homenbar{

    font-size: 3vw;
    }

    .infoflex img {
        min-width: 100px;
        min-height: 56px;
        max-width: 100px;
    }

    
}
@media (min-width:600px){
    .infoflex{
        justify-content: space-between
    }

    .infoflex img {
        min-width: 200px;
        min-height: 112px;
        max-width: 200px;
    }

}

@media (min-width:961px) {
    #bnnrlogo {
        padding-top: 20px;
        max-width: 20%;
        margin-left: 40%;
        margin-right: 40%;
    }
    #homenbar{
        font-size: x-large;
    }

    .infoflex{
        justify-content: space-between;
    }

    .infoflex img {
        min-width: 200px;
        min-height: 113px;
        max-width: 200px;
    }

    h1{

    font-size: calc(12px + 3vw);
    }
    
    .infoflex{
        justify-content: space-between;
    }
    
    .infoflex img {
        min-width: 250px;
        min-height: 143px;
        max-width: 250px;
    }

    .testimonials video {
        margin: 5px 40% 5px;
        width: 20%;
    }
}

@media (min-width:1500){
    .infoflex img {
        min-width: 375px;
        min-height: 215px;
        max-width: 375px;
    }
}

@media (min-width:2000px){
    .infoflex img {
        min-width: 500px;
        min-height: 286px;
        max-width: 500x;
    }
}

#homenbar {

    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: sticky;
    top: 0;
    line-height: 75px;
    background-color: white;

    
    z-index: 100;

    padding-left: min(20px, 20%);
    padding-right: min(20px, 20%);

}


#homenbar a {
    color: rgb(51, 50, 50);
    padding-right: min(5px);
    padding-left: min(5px);
    width: 25%;
    text-align: center;
}


#homenbar a:link {
    text-decoration: none;
}

#homenbar a:visited {
    text-decoration: none;
}

#homenbar a:hover {
    text-decoration: none;
    color: rgb(255, 173, 182);
}

#homenbar a:active {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

#gsbanner {
    background-color: rgb(255, 173, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px 12px 0px;
    color: black;
    font-weight: 400;

}

#frontpic {
    width: 100%;
}

#picname {
    position: absolute;
    z-index: 1;
    left: 25%;
}

h1,
a,
h3 {
    font: bold;
    margin: auto;
}


.testicollapse,
.faqcollapse,
.warrantycollapse {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: rgb(136,136,128) ;
    font-weight: 500;
    font-size: calc(12px + 2vw);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    margin-left: 5%;
}

.testicollapse{
    padding-top: 3rem;
}

button:hover {
    color: rgb(255,173,182);

}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(136,136,128);
    margin-top: 5px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 5% 85%;
    border-top-left-radius: 5% 85%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    font-size: calc(12px + 1vw);
    margin:2% 5%;
    text-align: justify;
}

.alau{
    text-align: center;
}

li{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    font-size: calc(12px + 1vw);
    margin:0 5%;
}


.infoheader {
    background-color: rgb(51, 50, 50);
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
}
.infoflex {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    display: grid;
    grid-auto-flow: column;
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: auto;
    
}




.numbernote {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    padding-bottom: 5px;
}

.faq .question,
.answer {
    margin: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: calc(12px + 1.2vw);
    padding-left: 10%;
    padding-right: 10%;
    color: black;
}

.answer {
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

.testimonials p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 8px;
    font-family: 'Montserrat', sans-serif;

    font-weight: 300;
    font-size: calc(12px + 1.2vw);
    padding-left: 10%;
    padding-right: 10%;
    color: black;
}



.warrantycontent p{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 8px;
    font-family: 'Montserrat', sans-serif;

    font-weight: 300;
    font-size: calc(12px + 1.2vw);
    padding-left: 10%;
    padding-right: 10%;
    color: black;
}

.even {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

.odd {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: black;
}



a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(109, 110, 112);
}

a:active {
    text-decoration: none;
}