@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Montserrat:wght@100;300;400;500&display=swap');

/*
light regular bold
https://fonts.google.com/specimen/Open+Sans
*/

/*

greyish rgb(136,136,128)
grey rgb(88,89,91)
greyer rgb(109,110,112)
dark grey rgb(51,50,50)
white rgb(255,255,255)
pink rgb(255,173,182)
    
@media (width < 600px) {}
@media (width < 960px) and (width >= 600px) {}
@media (width >=960px) {}
*/

@media (min-width:320px)  {
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: small;
        background-color: white;
        position: sticky;
        top: 0;
        line-height: 75px;
        padding-top:5px;
        border-radius: 5px;
        padding-left: 5%;
        padding-right: 5%;
        z-index: 100;

    }



    #navbar img {
        width: 75px;
        height: 47px;
        float: left;
        padding-left: 0;
        padding-right: 0;
        object-fit: cover;
    }

    #navbar a {
        color: black;
        padding: 0 5px 0;

    }


    #navbar a:link {
        text-decoration: none;
    }

    #navbar a:visited {
        text-decoration: none;
    }

    #navbar a:active {
        text-decoration: none;
    }
}

@media (min-width:641px) {
    #navbar {
        font-size: medium;
        padding-top:5px;

        border-radius: 5px;
        padding-left: 10%;
        padding-right: 10%;

    }



    #navbar img {
        width: 75px;
        height: 47px;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    #navbar a {
        color: black;

    }


    #navbar a:link {
        text-decoration: none;
    }

    #navbar a:visited {
        text-decoration: none;
    }

    #navbar a:active {
        text-decoration: none;
    }
}



@media (min-width:961px)  {
    #navbar {

        border-radius: 5px;
        padding-left: 10%;
        padding-right: 10%;

    }



    #navbar img {
        width: 120px;
        height: 74px;
        float: left;
    }

    #navbar a {
        padding-left: 20px;
        padding-right: 20px;
        color: black;

    }
}

@media (min-width:1500px){
    #navbar {
        font-size: 1.5vw;
        line-height: 75px;
        border-radius: 5px;
        padding:0% 10% 0%;
    }

    #navbar img {
        width: 240px;
        height: 148px;
    }
}

@media (min-width:3000px){
    #navbar img {
        width: 360px;
        height: 222px;
    }
}